.navbar-link {
    color: var(--white);
    font-size: 15px;
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    font-weight: var(--fw-500);
    transition: 0.15s ease-in-out;
}
  
.navbar-link:is(:hover, :focus) { color: var(--orange); }