.gallery { 
  padding: var(--section-padding) 0; 
  width: 65%;
  position: relative;
  left: 18%;
}
  
  .gallery-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: -15px;
    overflow-x: auto;
    padding-bottom: 15px;
    scroll-snap-type: inline mandatory;
    padding-inline: 15px;
  }
  
  .gallery-list li {
    min-width: 95%;
    scroll-snap-align: center;
  }
