.tournaments-body {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--raisin-black-1); 
    display: flex;
}

.container-tournaments-list {    
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    left: 10%;
    width: 60%;
}

.container-tournaments-buttons {
    position: relative;
    left: 15%;
    width: 20%;
    margin-top: 25px;
}