.footer-social-link {
    background: var(--xiketic);
    color: var(--light-gray);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: 14px;
    border-radius: 50%;
    transition: var(--transition-1);
  }
  
.footer-social-link:is(:hover, :focus) { color: var(--orange); }