.another-navbar {
    width: 40vw;
    display: flex; /* Cambia los elementos a una fila horizontal */
    justify-content: space-around; /* Distribuye los elementos de forma uniforme */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
}